<!-- firehose track 2, lesson 14 - file created 16 may 17 -->

<div class="col-10 offset-1 about">
    <h1>About Splurty</h1>
    
    <br />
    <p>
        Splurty was built by Victor Christensen as part of the Firehose Project Bootcamp.
    </p>
    <br />
    <p>
        If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
    </p>
    
    <div class="row">
        <div class="col-12 col-sm-4">
            <%= image_tag 'Victor Christensen-firehose.jpg', class: 'img-fluid' %>
        </div>
        <div class="col-12 col-sm-7 offset-sm-1">
            <h2 class="text-center">Victor Christensen</h2>
            <br />
            <p>
                Victor Christensen is a student web developer, currently getting a long drink from the Firehose Project. His background includes technical writing and information security. See more about him <a target="_blank" href="https://www.linkedin.com/in/victorchristensen">here</a>.
            </p>
        </div>
    </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
